/* FONTES */
@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tektur:wght@400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(180deg, #03001b 0%, #060416 100%);
  min-height: 100vh;
}

a {
  text-decoration: none;
}

/*---------------------------
  -> CURSOR 
 -----------------------------*/

body .container-cursor-1 {
  z-index: 6;
  background-image: linear-gradient(
      var(--cursor-1-bg-line) 1px,
      transparent 1px
    ),
    linear-gradient(
      to right,
      var(--cursor-1-bg-line) 1px,
      var(--cursor-1-bg) 1px
    );
}

@media (max-width: 1201px) {
  .curzr-arrow-pointer {
    display: none !important;
  }
}

h1::selection,
span::selection {
  background-color: #ff9d00 !important;
  color: #000 !important;
}

h1::-moz-selection,
span::-moz-selection {
  background-color: #ff9d00 !important;
  color: #000 !important;
}

::selection {
  background: rgba(150, 150, 150, 0.2);
}
::-moz-selection {
  background: rgba(150, 150, 150, 0.2);
}

#start::selection {
  background: rgba(150, 150, 150, 0.2) !important;
  color: #ff9d00 !important;
}

/* BARRA DE SCROLL  */

/* Barra de rolagem */
::-webkit-scrollbar {
  width: 5px; /* Largura da barra */
  height: 0px; /* Altura da barra horizontal */
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: #050316; /* Cor do fundo */
  border-radius: 6px; /* Borda arredondada */
}

/* Barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #d16b0c; /* Cor do polegar */
  border-radius: 6px; /* Arredondamento */
}

/* Hover na barra de rolagem */
::-webkit-scrollbar-thumb:hover {
  background-color: #7c3302; /* Cor ao passar o mouse */
}

/*---------------------------
  -> MENU 
 -----------------------------*/

#menu {
  width: 95%;
  height: 100px;
  border-radius: 87px;
  border: 1px solid #2e2e2e;
  backdrop-filter: blur(20px);
  background-color: rgba(1, 3, 19, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  transition: border-radius 0.4s ease, height 0.5s ease;
}

#menu.active {
  padding: 21px 25px;
  height: 374px;
  border-radius: 20px;
  align-items: flex-start;
}

/* #menu::before {
  content: "";
  position: absolute;
  width: 350px;
  height: 350px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(217, 217, 217, 0.27);
  filter: blur(300px);
  z-index: 10;
} */

.links-social-media {
  display: flex;
  align-items: center;
  gap: 10px;
}

.links-social-media .link {
  display: flex;
  width: 57px;
  height: 57px;
  padding: 14px 17px 16px 17px;
  justify-content: center;
  align-items: center;
  border-radius: 287px;

  background: rgba(0, 0, 0, 0.06);
  box-shadow: 0px 3px 3px 0px rgba(255, 255, 255, 0.25) inset,
    -1px 1px 0px 0px rgb(255 255 255 / 54%);
  flex-shrink: 0;
  transition: transform 0.1s ease-in;
}

.links-social-media .link:hover {
  transform: scale(1.1);
  outline: 1px solid #b0b0b0;
}

.logo-principal {
  height: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo-principal path {
  /* fill: #9e9e9e; */
  transition: fill 0.5s ease;
}

.logo-principal:hover path {
  fill: #b0b0b0;
}

.group-actions-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.group-actions-menu ul {
  display: flex;
  gap: 10px;
  list-style: none;
}
.group-actions-menu ul li a {
  color: #aaa;
  text-decoration: underline;
  font-family: Monda;
  font-size: 18px;
  font-weight: 400;
  transition: color 0.2s ease;
}

.group-actions-menu ul li a:hover {
  color: #fff;
}

.group-actions-menu .btn-solicitar-servico {
  color: #e9e9e9;
  font-family: Monda;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  padding: 9px 13px 9px 23px;
  justify-content: center;
  align-items: center;
  gap: 13px;
  border-radius: 500px;
  border: 0.86px solid #9b9b9b;
  background: linear-gradient(90deg, #ff9d00 0%, #995e00 100%);
  transition: transform 0.4s ease;
}

.group-actions-menu .btn-solicitar-servico:hover {
  transform: scale(1);
}
.group-actions-menu .btn-solicitar-servico svg {
  margin-top: 5px;
  transition: transform 0.2s ease-in-out, margin-left 0.2s ease-in-out;
}

.group-actions-menu .btn-solicitar-servico:hover svg {
  transform: rotate(43deg);
  margin-left: 5px;
}

.menuButton {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 13%;
  color: #090909;
  width: 3.5em;
  height: 3.5em;
  border-radius: 0.5em;
  background: #030019;
  border: 1px solid #3a3a3a;
  transition: all 0.3s;
  box-shadow: inset 4px 4px 12px #030019, inset -4px -4px 12px #000000;
}

.menuButton:hover {
  border: 1px solid #3a3a3a;
}

.menuButton:active {
  color: #666;
  box-shadow: 6px 6px 12px #3a3a3a, -6px -6px 12px #000000;
}

input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.menuButton span {
  width: 30px;
  height: 4px;
  background: rgb(200, 200, 200);
  border-radius: 100px;
  transition: 0.3s ease;
}

input[type]:checked ~ span.top {
  transform: translateY(290%) rotate(45deg);
  width: 40px;
}

input[type]:checked ~ span.bot {
  transform: translateY(-270%) rotate(-45deg);
  width: 40px;
  box-shadow: 0 0 10px #495057;
}

input[type]:checked ~ span.mid {
  transform: translateX(-20px);
  opacity: 0;
}

/* .container-layout-mobile {
  display: none;
} */

.itens-menu-mobile {
  width: 100%;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 18px;
  opacity: 0;
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.group-actions-menu-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.group-actions-menu-mobile ul {
  display: flex;
  gap: 10px;
  list-style: none;
}
.group-actions-menu-mobile ul li a {
  color: #aaa;
  text-decoration: underline;
  font-family: Monda;
  font-size: 18px;
  font-weight: 400;
  transition: color 0.2s ease;
}

.group-actions-menu-mobile ul li a:hover {
  color: #fff;
}

.group-actions-menu-mobile .btn-solicitar-servico-mobile {
  color: #e9e9e9;
  font-family: Monda;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  padding: 9px 13px 9px 23px;
  justify-content: center;
  align-items: center;
  gap: 13px;
  border-radius: 500px;
  border: 0.86px solid #9b9b9b;
  background: linear-gradient(90deg, #ff9d00 0%, #995e00 100%);
  transition: transform 0.4s ease;
}

.group-actions-menu-mobile .btn-solicitar-servico-mobile:hover {
  transform: scale(1);
}
.group-actions-menu-mobile .btn-solicitar-servico-mobile svg {
  margin-top: 5px;
  transition: transform 0.2s ease-in-out, margin-left 0.2s ease-in-out;
}

.group-actions-menu-mobile .btn-solicitar-servico-mobile:hover svg {
  transform: rotate(43deg);
  margin-left: 5px;
}

.links-social-media-mobile {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.links-social-media-mobile .link {
  display: flex;
  width: 57px;
  height: 57px;
  padding: 14px 17px 16px 17px;
  justify-content: center;
  align-items: center;
  border-radius: 287px;

  background: rgba(0, 0, 0, 0.06);
  box-shadow: 0px 3px 3px 0px rgba(255, 255, 255, 0.25) inset,
    -1px 1px 0px 0px rgb(255 255 255 / 54%);
  flex-shrink: 0;
  transition: transform 0.1s ease-in;
}

.links-social-media-mobile .link:hover {
  transform: scale(1.1);
  outline: 1px solid #b0b0b0;
}

/*---------------------------
  -> RESPONSIVIDADE DO MENU
 -----------------------------*/

@media (max-width: 1400px) {
  .group-actions-menu ul {
    display: none;
  }
}

@media (max-width: 1024px) {
  /* 780px */
  .links-social-media {
    display: none;
  }

  .logo-principal {
    position: relative;
    left: 0%;
    transform: translateX(0%);
  }

  .group-actions-menu .btn-solicitar-servico {
    display: none;
  }
  .menuButton {
    display: flex;
  }

  #menu {
    padding: 21px 25px;
    align-items: flex-start;
    height: 84px;
  }
  .menuButton {
    width: 2.7em;
    height: 2.7em;
  }
  .menuButton span {
    width: 25px;
    height: 3px;
  }

  input[type]:checked ~ span.top {
    width: 31px;
  }

  input[type]:checked ~ span.bot {
    width: 31px;
  }

  #menu.active .itens-menu-mobile {
    visibility: visible;
    display: flex;
    flex-direction: column;
    gap: 18px;
    opacity: 1;
    width: 100%;
  }

  .group-actions-menu-mobile ul {
    flex-direction: column;
  }

  .group-actions-menu-mobile ul li a {
    text-decoration: none;
    font-size: 26px;
  }
}

@media (max-width: 767px) {
  /* 360px */
  #menu {
    padding: 21px 25px;
    height: 84px;
    top: 20px;
    align-items: flex-start;
  }
  .logo-principal {
    display: block;
    width: 221px;
  }

  /* .logo-principal-mobile {
    width: 221px;
    display: block;
  } */

  .menuButton {
    width: 2.7em;
    height: 2.7em;
  }
  .menuButton span {
    width: 25px;
    height: 3px;
  }

  input[type]:checked ~ span.top {
    width: 31px;
  }

  input[type]:checked ~ span.bot {
    width: 31px;
  }

  /* .container-layout-mobile {
    display: flex;
    width: 100%;
    justify-content: space-between;
  } */

  #menu.active .itens-menu-mobile {
    visibility: visible;
    display: flex;
    flex-direction: column;
    gap: 18px;
    opacity: 1;
    width: 100%;
  }
}

/*---------------------------
  -> CONTEUDO PRINCIPAL
 -----------------------------*/

/*-----------
  -> HOME
 -----------*/

#home {
  width: 100%;
  height: 1100px;
  background: url(../images/banners/banner-section-home.jpg) no-repeat center
    center;
  background-size: cover;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apresentacao-inicial {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.apresentacao-inicial .text-apresentacao {
  color: #bdbdbd;
  text-align: center;
  font-family: Tektur;
  font-size: 26px;
  font-weight: 600;
}

.titulo-principal {
  color: #e9e9e9;
  text-align: center;
  font-family: Tektur;
  font-size: 61px;
  font-weight: 600;
  line-height: 80px;
  width: 1165px;
  margin: 15px auto 0;
}

.destaque-laranja {
  color: #ff9d00;
}

.swiper-container {
  width: 70%;
  height: 300px;
  overflow: hidden;
  position: relative;
  margin: 70px;
  display: flex;
}

.swiper-container::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100%;
  background: linear-gradient(to right, #030118 0%, transparent);
  z-index: 10;
}
.swiper-container::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100px;
  height: 100%;
  background: linear-gradient(to left, #030118 0%, transparent);
  z-index: 10;
}

.swiper-container .swiper-wrapper {
  transition-timing-function: linear !important;
  -webkit-transition-timing-function: linear !important;
}

.swiper-container .swiper-slide {
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid #000000;
  display: flex;
  flex-shrink: 0;
  width: 410px;
}

.swiper-container .swiper-slide img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 0.3s ease-in;
  flex-shrink: 0;
}

.swiper-container .swiper-slide:hover img {
  transform: scale(1.1);
}
.swiper-container .swiper-slide:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.06);
  z-index: 10;
  position: absolute;
}

.subtitulo-logos {
  text-align: center;
  font-family: Tektur;
  font-size: 21.038px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.365px; /* 130.074% */
  background: linear-gradient(90deg, #bebebe 0%, #585858 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logos {
  width: 700px;
  overflow: hidden;
  padding: 20px 0;
  white-space: nowrap;
  position: relative;
}

.logos::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background: linear-gradient(to right, #030116, transparent);
  z-index: 2;
}
.logos::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background: linear-gradient(to left, #030116, transparent);
  z-index: 2;
}

.logos-slide {
  display: inline-block;
  animation: 20s slide infinite linear;
}

.logos-slide img {
  height: 70px;
  margin: 0 20px !important;
  transition: transform 0.5s ease;
}

/* .logos-slide img:hover {
  transform: scale(1.1);
} */

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* RESPONSIVIDADE HOME */

@media (min-width: 1367px) and (max-width: 2399px) {
  /* 1280px */
}
@media (min-width: 1201px) and (max-width: 1366px) {
  /* 1100px */
  .titulo-principal {
    width: 1100px;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  /* 924px */
  .titulo-principal {
    width: 924px;
    font-size: 55px;
    line-height: 74px;
  }
}
@media (min-width: 881px) and (max-width: 1024px) {
  /* 780px */
  .swiper-container {
    width: 90%;
  }

  .titulo-principal {
    width: 780px;
    font-size: 46px;
    line-height: 69px;
  }
}
@media (min-width: 768px) and (max-width: 880px) {
  /* 728px */
  .swiper-container {
    width: 90%;
  }
  .titulo-principal {
    width: 728px;
    font-size: 43px;
    line-height: 60px;
  }
  .logos {
    width: 500px;
  }
}
@media (max-width: 767px) {
  /* 360px */

  #home {
    padding-top: 170px;
    width: 100%;
    height: 960px;
    background: url(../images/banners/fundo-banner-home-celular-atualizado.jpg)
      no-repeat center center;
    background-size: cover;
  }

  .swiper-container {
    width: 100%;
    margin: 54px;
  }

  .swiper-container .swiper-slide {
    width: 330px;
    height: 270px;
  }

  .swiper-container::after,
  .swiper-container::before {
    width: 40px;
  }

  .swiper-container .swiper-slide img {
    height: 270px;
  }
  .apresentacao-inicial .text-apresentacao {
    font-size: 18px;
  }

  .titulo-principal {
    width: 360px;
    font-size: 27px;
    line-height: 42px;
  }

  .subtitulo-logos {
    font-size: 18px;
  }

  .logos {
    width: 360px;
  }

  .logos::before,
  .logos::after {
    width: 100px;
  }
  .logos-slide img {
    height: 56px;
    margin: 0 14px !important;
  }
}

@media (max-width: 400px) {
  #home {
    padding-top: 170px;
    width: 100%;
    height: 960px;
    background: url(../images/banners/fundo-celular-390px.jpg) no-repeat center
      center;
    background-size: cover;
  }
}

/*-----------
  -> PROJECTS
 -----------*/

#projects {
  background: url(../images/banners/banner-section-projects.jpg);
  background-size: cover;
  height: 1346px;
  padding-top: 90px;
}

#projects .container-header {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#projects .container-header .group-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

#projects .container-header .group-title p {
  color: #ff9800;
  text-align: center;
  font-family: Tektur;
  font-size: 21px;
  font-weight: 400;
}

#projects .container-header .group-title h3 {
  width: 336px;
  font-family: Tektur;
  font-size: 49px;
  font-weight: 400;
  line-height: 64px;
  background: linear-gradient(90deg, #bebebe 0%, #585858 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#projects .container-header .btn-visualizar-todos {
  display: flex;
  padding: 20px 24px 19px 25px;
  justify-content: center;
  align-items: center;
  border-radius: 34px;
  border: 1px solid #9b9b9b;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25) inset;
  color: #c8c8c8;
  font-family: Monda;
  font-size: 20px;
  font-weight: 600;
  transition: transform 0.4s ease, background 0.4s ease;
}

#projects .container-header .btn-visualizar-todos:hover {
  transform: scale(1.05);
  /* border-color: rgb(255, 255, 255); */
  background: rgba(255, 255, 255, 0.2);
}

.grid-projects {
  display: grid;
  grid-template-columns: repeat(3, 426px);
  justify-content: center;
  justify-items: center;
  gap: 30px 20px;
  width: 1280px;
  position: relative;
  margin: 50px auto 100px;
}

.grid-projects .container-project {
  width: 420px;
  height: 400px;
  border-radius: 40px;
  overflow: hidden;
  border: 1px solid #141414;
  flex-shrink: 0;
  position: relative;
  transition: transform 0.2s ease-in;
}
.grid-projects .container-project:hover {
  transform: translateY(-10px);
}

.grid-projects
  .container-project:hover
  .container-info-projeto
  svg
  rect:first-child {
  fill: rgb(185, 185, 185);
}
.grid-projects .container-project:hover .container-info-projeto svg path {
  stroke: #000 !important;
}

.grid-projects
  .container-project:hover
  .container-info-projeto.banners-claros
  svg
  rect:first-child {
  fill: rgb(0, 0, 0);
}

.grid-projects
  .container-project:hover
  .container-info-projeto.banners-claros
  svg
  path {
  stroke: rgb(132, 125, 125) !important;
}

.grid-projects .container-project img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: transform 0.3s ease-in;
  position: absolute;
}

.grid-projects .new-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, black, transparent);
  backdrop-filter: blur(10px);
}

.grid-projects .new-projects:hover {
  border: 1px solid #cccccc43;
}
.grid-projects .new-projects:hover svg {
  transform: scale(0.9);
}
.grid-projects .container-project.new-projects svg {
  height: 60px;
  transition: transform 0.5s ease-in-out;
}
.grid-projects .container-project.new-projects svg path {
  fill: #e3e3e3a3;
}
/* .swiper-projetos {
  width: 70%;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin: 50px auto 100px;
} */

/* .swiper-projetos::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100%;
  background: linear-gradient(to right, #030118 0%, transparent);
  z-index: 10;
}
.swiper-projetos::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100px;
  height: 100%;
  background: linear-gradient(to left, #030118 0%, transparent);
  z-index: 10;
} */

/* .swiper-projetos .swiper-wrapper {
  transition-timing-function: linear !important;
  -webkit-transition-timing-function: linear !important;
} */

/* .swiper-projetos .swiper-slide {
  width: 440px;
  height: 400px;
  border-radius: 40px;
  overflow: hidden;
  border: 1px solid #141414;
  flex-shrink: 0;
  position: relative;
} */

/* .swiper-projetos .swiper-slide img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: transform 0.3s ease-in;
  position: absolute;
} */

.container-info-projeto {
  position: absolute;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 110px;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.137);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.container-info-projeto .group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}
.container-info-projeto .group .sobre {
  color: #e1e1e1;
  text-align: center;
  font-family: Tektur;
  font-size: 13px;
  font-weight: 400;
}
.container-info-projeto .group .titulo-projeto {
  color: #e1e1e1;
  text-align: start;
  font-family: Tektur;
  font-size: 30px;
  font-weight: 400;
}

.container-info-projeto.banners-claros {
  backdrop-filter: blur(20px);
}

.container-info-projeto.banners-claros .sobre,
.container-info-projeto.banners-claros .titulo-projeto {
  /* background: rgb(1 3 19 / 78%) !important; */
  color: #1d1d1d;
}

.container-info-projeto svg rect:first-child {
  transition: fill 0.3s ease;
}

.container-info-projeto.banners-claros svg rect:first-child {
  fill: rgb(185, 185, 185);
  transition: fill 0.3s ease;
}

.container-info-projeto.banners-claros svg path {
  stroke: #000 !important;
}

.textos {
  width: 100%;
  background: #082a5c;
  overflow: hidden;
  padding: 20px 0;
  white-space: nowrap;
  position: relative;
  cursor: default;
}

.texto-slide {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  animation: 20s slide2 infinite linear;
}
.texto-slide p {
  text-transform: uppercase;
  font-family: Tektur;
  font-size: 39px;
  font-weight: 400;
  background: linear-gradient(90deg, #bebebe 0%, #585858 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.texto-slide p:last-child {
  margin: 0 20px;
}

.texto-slide img {
  width: 70px;
  margin: 0 20px !important;
}

@keyframes slide2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (min-width: 1367px) and (max-width: 2399px) {
  /* 1280px */
}
@media (min-width: 1201px) and (max-width: 1366px) {
  /* 1100px */
  #projects .container-header {
    width: 1100px;
  }
  .grid-projects {
    grid-template-columns: repeat(3, 366px);
    gap: 30px 20px;
    width: 1100px;
  }
  .grid-projects .container-project {
    width: 360px;
  }

  .container-info-projeto .group .titulo-projeto {
    font-size: 24px;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  /* 924px */

  #projects {
    height: 1777px;
  }

  #projects .container-header {
    width: 924px;
  }
  .grid-projects {
    grid-template-columns: repeat(2, 462px);
    gap: 30px 20px;
    width: 924px;
  }
  .grid-projects .container-project {
    width: 462px;
  }
}
@media (min-width: 881px) and (max-width: 1024px) {
  /* 780px */
  #projects {
    height: 1777px;
  }

  #projects .container-header {
    width: 780px;
  }
  .grid-projects {
    grid-template-columns: repeat(2, 390px);
    gap: 30px 20px;
    width: 780px;
  }
  .grid-projects .container-project {
    width: 390px;
  }
}
@media (min-width: 768px) and (max-width: 880px) {
  /* 728px */
  #projects {
    height: 1777px;
  }

  #projects .container-header {
    width: 728px;
  }
  .grid-projects {
    grid-template-columns: repeat(2, 364px);
    gap: 30px 20px;
    width: 728px;
  }
  .grid-projects .container-project {
    width: 364px;
  }
}
@media (max-width: 767px) {
  /* 360px */
  #projects {
    height: 3176px;
    background: url(../images/banners/fundo-section-projects-celular.jpg);
  }

  #projects .container-header {
    width: 360px;
    flex-direction: column;
    gap: 34px;
  }

  #projects .container-header .group-title {
    align-items: center;
  }

  .grid-projects {
    grid-template-columns: repeat(1, 360px);
    gap: 30px 20px;
    width: 360px;
  }
  .grid-projects .container-project {
    width: 360px;
  }
  .texto-slide p {
    font-size: 30px;
  }
  #projects .container-header .group-title h3 {
    text-align: center;
  }

  .container-info-projeto .group .titulo-projeto {
    font-size: 28px;
  }

  .container-info-projeto {
    padding: 0 30px;
  }
}

/*-----------
  -> SOLUCOES
 -----------*/

#solutions {
  background: url(../images/banners/banner-section-solucoes.png) no-repeat
    center;
  background-size: cover;
  height: 764px;
}

#solutions .block-content {
  width: 1280px;
  height: 672px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #383838;
  background: #050316;
  margin: 80px auto 0;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 50px;
  position: relative;
  overflow: hidden;
}

#solutions .block-content .header-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 100;
}
#solutions .block-content .header-info .subtitle {
  color: #ff9d00;
  font-family: Tektur;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3.167px;
}
#solutions .block-content .header-info .title-main {
  width: 506px;
  color: #fff;
  font-family: Tektur;
  font-size: 49px;
  font-weight: 600;
  line-height: 64px;
}
#solutions .block-content .header-info .explanatory-text {
  width: 467px;
  /* height: 65px; */
  flex-shrink: 0;
  color: #b4b4b4;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 300;
  line-height: 23px;
}

#solutions .block-content .header-info .btn-iniciar-projeto {
  display: flex;
  width: 200px;
  height: 57px;
  padding: 0px 16px 0px 17px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--laranja, #ff9d00);
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  transition: transform 0.5s ease;
}
#solutions .block-content .header-info .btn-iniciar-projeto:hover {
  transform: scale(1.1);
}

.linha-animada {
  position: absolute;
  z-index: 1;
  right: 19px;
  top: 19px;
}

#solutions .details-solutions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  z-index: 20;
}

#solutions .details-solutions:hover .container:not(:hover) {
  opacity: 0.3;
}

#solutions .details-solutions .container {
  display: flex;
  flex-direction: column;
  width: 302.5px;
  height: 263.28px;
  padding: 30px 10px;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.151);
  background: #040314;
  gap: 15px;
  transition: transform 0.5s ease, opacity 0.5s ease;
  cursor: default;
}

#solutions .details-solutions .container:hover {
  border-color: #8b8b8b;
  transform: scale(1.0165);
}

#solutions .details-solutions .container .title-solution {
  width: 159px;
  color: #fff;
  text-align: center;
  font-family: Tektur;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

#solutions .details-solutions .container .title-solution.sites {
  width: 220px;
}

#solutions .details-solutions .container .text-solution {
  display: flex;
  width: 246px;
  height: 72px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #b4b4b4;
  text-align: center;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 300;
}

.block-content .element-block-texture {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
}
.block-content .element-block-texture2 {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(180deg);
  user-select: none;
}

/* RESPONSIVIDADE DA SOLUÇÕES */

@media (min-width: 1367px) and (max-width: 2399px) {
  /* 1280px */
}
@media (min-width: 1201px) and (max-width: 1366px) {
  /* 1100px */
  #solutions .block-content {
    width: 1100px;
  }
  #solutions .block-content .header-info .subtitle {
    font-size: 14px;
  }
  #solutions .block-content .header-info .title-main {
    width: 355px;
    font-size: 39px;
  }
  #solutions .block-content .header-info .explanatory-text {
    width: 366px;
    font-size: 13px;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  /* 924px */
  #solutions {
    height: 1164px;
  }

  #solutions .block-content {
    width: 780px;
    height: 1045px;
    flex-direction: column;
    align-items: center;
  }
  #solutions .block-content .header-info .subtitle {
    text-align: center;
  }
  #solutions .block-content .header-info .title-main {
    width: 475px;
    text-align: center;
  }
  #solutions .block-content .header-info .explanatory-text {
    text-align: center;
  }
  #solutions .block-content .header-info {
    align-items: center;
  }
}
@media (min-width: 881px) and (max-width: 1024px) {
  /* 780px */
  #solutions {
    height: 1164px;
  }

  #solutions .block-content {
    width: 780px;
    height: 1045px;
    flex-direction: column;
    align-items: center;
  }
  #solutions .block-content .header-info .subtitle {
    text-align: center;
  }
  #solutions .block-content .header-info .title-main {
    width: 475px;
    text-align: center;
  }
  #solutions .block-content .header-info .explanatory-text {
    text-align: center;
  }
  #solutions .block-content .header-info {
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 880px) {
  /* 728px */
  #solutions {
    height: 1164px;
  }

  #solutions .block-content {
    width: 728px;
    height: 1045px;
    flex-direction: column;
    align-items: center;
  }
  #solutions .block-content .header-info .subtitle {
    text-align: center;
  }
  #solutions .block-content .header-info .title-main {
    width: 475px;
    text-align: center;
  }
  #solutions .block-content .header-info .explanatory-text {
    text-align: center;
  }
  #solutions .block-content .header-info {
    align-items: center;
  }
}
@media (max-width: 767px) {
  /* 360px */
  #solutions {
    height: 1675px;
  }

  #solutions .details-solutions {
    grid-template-columns: repeat(1, 1fr);
  }
  #solutions .block-content {
    width: 360px;
    height: 1580px;
    flex-direction: column;
    align-items: center;
  }
  #solutions .block-content .header-info .subtitle {
    text-align: center;
    font-size: 14px;
  }
  #solutions .block-content .header-info .title-main {
    width: 324px;
    text-align: center;
    font-size: 34px;
    line-height: 52px;
  }
  #solutions .block-content .header-info .explanatory-text {
    text-align: center;
    width: 327px;
    font-size: 13px;
  }
  #solutions .block-content .header-info {
    align-items: center;
  }

  .block-content .element-block-texture {
    top: -17px;
    left: -86px;
  }

  .block-content .element-block-texture2 {
    bottom: -1px;
    left: -39px;
  }
}

/* FEEDBACKS */

#feedbacks {
  background: url(../images/banners/banner-section-depoimentos.png);
  background-size: cover;
  height: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  overflow: hidden;
}

#feedbacks .subtitle-depoimentos {
  display: flex;
  width: 169px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #ff9d00;
  font-family: Tektur;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 3.5px;
  z-index: 10;
}

#feedbacks .title-depoimentos {
  width: 634px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Tektur;
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: 71.5px;
  z-index: 10;
}

#feedbacks .text-depoimentos {
  width: 457px;
  height: 51px;
  flex-shrink: 0;
  color: #b4b4b4;
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 300;
  line-height: 25.5px;
  z-index: 10;
}

.patterns-circle {
  position: absolute;
  top: 0;
  z-index: 1;
  user-select: none;
}

.blocks-depoimentos {
  display: flex;
  gap: 20px;
  margin: 70px 0 0;
}

.blocks-depoimentos .block {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 374px;
  height: 300px;
  padding: 36px 33px 33px 45px;
  align-items: flex-start;
  border-radius: 12px;
  border: 1px solid #464646;
  background: rgba(0, 0, 0, 0.2);

  z-index: 10;
}

.blocks-depoimentos .block .text {
  display: flex;
  width: 295px;
  height: 131px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #b4b4b4;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 300;
  line-height: 27px;
}
.blocks-depoimentos .block .empresa {
  color: #fff;
  font-family: Poppins;
  font-size: 23px;
  font-weight: 600;
  margin: 40px 0 0;
}
.blocks-depoimentos .block .setor-empresa {
  color: #b4b4b4;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
}

/* RESPONSIVIDADE DO FEEDBACK */

@media (min-width: 1367px) and (max-width: 2399px) {
  /* 1280px */
}
@media (min-width: 1201px) and (max-width: 1366px) {
  /* 1100px */
}
@media (min-width: 1025px) and (max-width: 1200px) {
  /* 924px */
  .patterns-circle {
    width: 924px;
  }
}
@media (min-width: 881px) and (max-width: 1024px) {
  /* 780px */
  .patterns-circle {
    width: 780px;
  }
}
@media (min-width: 768px) and (max-width: 880px) {
  /* 728px */
  .patterns-circle {
    width: 728px;
  }

  .blocks-depoimentos .block {
    width: 350px;
  }
  .blocks-depoimentos .block .text {
    width: 276px;
  }
}
@media (max-width: 767px) {
  /* 360px */

  #feedbacks {
    height: 1240px;
  }

  .blocks-depoimentos {
    flex-direction: column;
  }

  .blocks-depoimentos .block {
    width: 360px;
  }

  .blocks-depoimentos .block .text {
    width: 290px;
  }

  .patterns-circle {
    width: 1000px;
  }

  #feedbacks .title-depoimentos {
    width: 360px;
    font-size: 41px;
    line-height: 56px;
  }
  #feedbacks .text-depoimentos {
    width: 330px;
    font-size: 14px;
  }
}

/* ABOUT */

#about {
  background: url(../images/banners/banner-section-about.png);
  background-size: cover;
  height: 700px;
  width: 1200px;
  margin: 0 auto 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#about .content {
  display: flex;
  gap: 50px;
}

#about .container-foto {
  position: relative;
}

#about .container-foto img {
  user-select: none;
  position: relative;
  z-index: 20;
}
#about .container-foto:before {
  position: absolute;
  content: "";
  width: 514px;
  height: 364px;
  background: rgba(217, 217, 217, 0.212);
  filter: blur(120px);
  z-index: 10;
}

#about .container-foto .group-conquistas {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: -20px;
}

#about .container-foto .group-conquistas span {
  color: #fff;
  text-align: center;
  font-family: Tektur;
  font-size: 14px;
  font-weight: 600;
}

#about .container-about-me {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#about .container-about-me .text-about {
  width: 500px;
  color: #8e8e8e;
  font-family: Poppins;
  font-size: 16.619px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#about .container-about-me .group-skills {
  display: flex;
  gap: 20px;
}
#about .container-about-me .group-skills .title-hard-skils {
  color: #ff9d00;
  text-align: center;
  font-family: Tektur;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  margin-top: 10px;
}
#about .container-about-me .group-skills .skills {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
#about .container-about-me .group-skills .skills .skill {
  border-radius: 6124.33px;
  border: 1.139px solid #000;
  background: #050316;
  box-shadow: 0px 4.899px 30.622px 0px rgba(199, 199, 199, 0.25);
  display: flex;
  width: 49px;
  height: 49px;
  padding: 12px 11px 9px 12px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

#about .container-about-me .group-buttons {
  display: flex;
  gap: 20px;
}

#about .container-about-me .group-buttons .button {
  display: inline-flex;
  padding: 20px 29px 19px 25px;
  align-items: center;
  gap: 12px;
  border-radius: 34px;
  border: 1px solid #9b9b9b;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25) inset;
  color: #c8c8c8;
  font-family: Monda;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.988px; /* 130.074% */
  transition: transform 0.3s ease, background 0.3s ease;
}
#about .container-about-me .group-buttons .button:hover {
  transform: scale(1.02);
  background: rgba(255, 255, 255, 0.2);
}

/* RESPONSIVIDADE ABOUT */

@media (min-width: 1367px) and (max-width: 2399px) {
  /* 1280px */
}
@media (min-width: 1201px) and (max-width: 1366px) {
  /* 1100px */
  #about {
    width: 1100px;
  }

  #about .content {
    width: 1100px;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  /* 924px */
  #about {
    width: 924px;
  }

  #about .content {
    width: 924px;
  }

  #about .container-foto {
    width: 450px;
  }

  #about .container-foto img {
    width: 450px;
  }
  #about .container-foto:before {
    width: 411px;
  }

  #about .container-foto .group-conquistas span {
    font-size: 12px;
  }

  #about .container-about-me .text-about {
    width: 461px;
  }
}
@media (min-width: 881px) and (max-width: 1024px) {
  /* 780px */

  #about {
    width: 780px;
    height: 1000px;
  }

  #about .container-about-me {
    align-items: center;
  }

  #about .container-about-me .text-about {
    width: 445px;
  }

  #about .content {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 880px) {
  /* 728px */
  #about {
    width: 728px;
    height: 1000px;
  }

  #about .container-about-me {
    align-items: center;
  }

  #about .container-about-me .text-about {
    width: 445px;
  }

  #about .content {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  /* 360px */

  #about {
    width: 360px;
    height: 1100px;
  }

  #about .container-about-me {
    align-items: center;
  }

  #about .container-about-me .text-about {
    width: 347px;
    font-size: 14px;
    text-align: center;
  }

  #about .content {
    flex-direction: column;
    align-items: center;
  }

  #about .container-foto {
    width: 360px;
  }

  #about .container-foto img {
    width: 360px;
  }
  #about .container-foto:before {
    width: 130px;
  }

  #about .container-foto .group-conquistas {
    margin-left: 11px;
  }
  #about .container-about-me .group-skills {
    flex-direction: column;
  }

  #about .container-about-me .group-buttons {
    flex-direction: column;
    margin-top: 20px;
  }
}

/* FOOTER */

#footer {
  background: url(../images/banners/banner-section-footer.jpg) no-repeat center;
  background-size: cover;
  height: 1024px;
  padding: 150px 0 30px;
}

#footer .content {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#footer .content .topo {
  display: flex;
  justify-content: space-between;
}
#footer .content .topo .group-title {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#footer .content .topo .group-title .start-project {
  width: 1104px;
  color: #929292;
  font-family: Tektur;
  font-size: 150.717px;
  font-style: normal;
  font-weight: 600;
  line-height: 160.137px; /* 106.25% */
  letter-spacing: -3.768px;
}
#footer .content .topo .group-title .start-project span {
  color: var(--laranja, #ff9d00);
  font-family: Tektur;
  font-size: 150.717px;
  font-style: normal;
  font-weight: 600;
  line-height: 160.137px;
  letter-spacing: -3.768px;
}
#footer .content .topo .group-title .btn-send-message {
  display: flex;
  /* justify-content: center; */
  padding-left: 15px;
  align-items: center;
  gap: 10px;
  width: 246px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #fff;
  color: #2e2e2e;
  text-align: center;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 163.636% */
  letter-spacing: -0.55px;
  transition: width 0.5s ease;
}

#footer .content .topo .group-title .btn-send-message svg {
  transition: margin-left 0.5s ease;
}

#footer .content .topo .group-title .btn-send-message:hover {
  width: 260px;
}
#footer .content .topo .group-title .btn-send-message:hover svg {
  margin-left: 15px;
}

#footer .content .topo .social-media {
  margin-top: 30px;
}
#footer .content .topo .social-media .media {
  color: #929292;
  text-align: right;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 163.636% */
  letter-spacing: -0.55px;
  transition: color 0.2s ease;
}

#footer .content .topo .social-media .media:hover {
  color: #d6d6d6;
}

#footer .content .rodape {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#footer .content .rodape .container-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #929292;
}
/* #footer .content .rodape .container-links img {
} */
#footer .content .rodape .container-links ul {
  list-style: none;
  display: flex;
  gap: 30px;
}
#footer .content .rodape .container-links ul li a {
  color: #929292;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#footer .content .rodape .container-links ul li a:hover {
  color: #cfcfcf;
  /* text-decoration: underline; */
}

#footer .content .rodape .copyright {
  color: #929292;
  text-align: center;
  font-family: Manrope;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: 0.5px;
}

/* RESPONSIVIDADE DO FOOTER */

@media (max-width: 1400px) {
  #footer .content .topo .group-title .start-project {
    font-size: 126px;
    width: 980px;
  }
  #footer .content .topo .group-title .start-project span {
    font-size: 126px;
  }
}
@media (min-width: 1367px) and (max-width: 2399px) {
  /* 1280px */
}
@media (min-width: 1201px) and (max-width: 1366px) {
  /* 1100px */
}
@media (min-width: 1025px) and (max-width: 1200px) {
  /* 924px */
  #footer .content .topo .group-title .start-project {
    width: 924px;
  }
  #footer .content .topo {
    flex-direction: column;
  }

  #footer .content .rodape .container-links ul li {
    font-size: 18px;
  }
}
@media (min-width: 881px) and (max-width: 1024px) {
  /* 780px */
  #footer .content .topo .group-title .start-project {
    font-size: 109px;
    width: 780px;
  }
  #footer .content .topo .group-title .start-project span {
    font-size: 109px;
  }

  #footer .content .topo {
    flex-direction: column;
  }

  #footer .content .rodape .container-links ul li {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 880px) {
  /* 728px */

  #footer .content .topo .group-title .start-project {
    font-size: 98px;
    width: 728px;
    line-height: 70px;
  }
  #footer .content .topo .group-title .start-project span {
    font-size: 98px;
  }

  #footer .content .topo {
    flex-direction: column;
  }

  #footer .content .rodape .container-links ul li {
    font-size: 18px;
  }

  #footer .content .rodape .container-links {
    flex-direction: column;
    gap: 20px;
  }

  #footer .content .rodape .copyright {
    font-size: 16px;
    width: 556px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  /* 360px */
  #footer .content .topo .group-title .start-project {
    font-size: 80px;
    width: 360px;
    line-height: 80px;
  }
  #footer .content .topo .group-title .start-project span {
    font-size: 80px;
    line-height: 80px;
  }

  #footer .content .topo {
    flex-direction: column;
  }

  #footer .content .rodape .container-links ul li {
    font-size: 18px;
  }

  #footer .content .rodape .container-links {
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;
  }

  #footer .content .rodape .copyright {
    font-size: 15px;
    /* width: 360px; */
    margin: 0 auto;
  }

  #footer .content .rodape .container-links ul {
    list-style: none;
    display: flex;
    gap: 14px;
    flex-direction: column;
    align-items: center;
  }

  #footer {
    height: 1224px;
  }
}

/* ------------------- */

/* MENU LATERAL  */

/* #menu-lateral {
  width: 360px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0px;
  background-color: #000000c0;
  backdrop-filter: blur(10px);
  z-index: 99999;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

#menu-lateral.active {
  transform: translateX(0);
}

.close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  font-family: Tektur;
} */
